body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #555;
}

p.formula {
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 20px;
    color: #222;
}

strong {
    font-weight: bold;
    color: #000;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    font-size: 0.95em;
}

h1, h2, h3, h4 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 5px 0;
}

nav a {
    text-decoration: none;
    color: #0066cc;
}

nav a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

.caption {
    font-style: italic;
    color: #888; /* Light grey color for captions */
    margin-bottom: 20px;
    text-align: center;
}

.image-row {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: space-around; /* Distribute images evenly */
    margin-bottom: 20px;
}

.image-row .image-column {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    max-width: calc(100% / 4 - 10px); /* Adjust width to fit up to 4 images */
    box-sizing: border-box; /* Include padding/margins in width calculation */
}

.image-row .image-column img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.image-row .image-column:last-child {
    margin-right: 0;
}

/* For larger images */
.image-row-big {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image-row-big .image-column-big {
    flex: 1;
    text-align: center;
    margin-right: 10px;
}

.image-row-big .image-column-big img {
    width: 90%;
    height: auto;
    align-items: center;
    margin-bottom: 10px;
}

.image-row-big .image-column-big:last-child {
    margin-right: 0;
}
.image-row-small {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto; /* Center the content */
}

.image-column-small {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    max-width: calc(100% / 3 - 10px); /* Three columns per row */
    box-sizing: border-box;
}

.image-column-small img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.image-column-small:last-child {
    margin-right: 0;
}

.image-row-medium {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.image-column-medium {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    max-width: calc(100% / 3 - 10px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-column-medium img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.image-column-medium:last-child {
    margin-right: 0;
}
